<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.login.mapper.LoginMapper">

    <!-- 유저정보 insert -->
    <insert id="insertUserInfo" parameterType="java.util.Map">
        INSERT INTO VUE_USERINFO(
                                    EMAIL
                                  , PW
                                  , NICKNAME
                                  , INPDATE
                                  <!-- , INP_USR -->
                                  , IMG_PATH
                                )
                        VALUES(
                                #{email}
                              , #{password}
                              , #{nickname}
                              , #{inpDate}
                              <!-- , #{inp_usr} -->
                              , #{imgPath}
                              )
    </insert>

    <select id="matchUserInfo" parameterType="HashMap" resultType="java.util.LinkedHashMap">
        SELECT EMAIL
             , PW
             , INP_USR
             , NICKNAME
          FROM VUE_USERINFO
         WHERE EMAIL = #{email} 
           AND PW = #{password}     
    </select>


</mapper>