<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.like.mapper.LikeMapper">

    <!-- Like +1 -->
    <update id="likePlus1" parameterType="java.util.Map">
        UPDATE VUE_VIDEO 
           SET LIKE_COUNT = LIKE_COUNT + 1
         WHERE VIDEO_ID = #{videoId}
    </update>


    <!-- Like -1 -->
    <update id="likeMinus1" parameterType="java.util.Map">
        UPDATE VUE_VIDEO 
           SET LIKE_COUNT = LIKE_COUNT - 1
         WHERE VIDEO_ID = #{videoId}
    </update>


    <!-- Like테이블에 유저이름 insert -->
    <insert id="insertLike" parameterType="java.util.Map">
        INSERT INTO VUE_VIDEO_LIKE (
                                      VIDEO_ID
                                    , VIDEO_TITLE
                                    , INP_USER
                                    , INP_DATE
                          ) VALUES (
                                      #{videoId}
                                    , #{videoTitle}
                                    , #{userEmail}
                                    , SYSDATE
                          )
    </insert>


    <!-- Like테이블에 유저이름 delete -->
    <delete id="deleteLike" parameterType="java.util.Map">
        DELETE
          FROM VUE_VIDEO_LIKE
         WHERE VIDEO_ID = #{videoId}
           AND INP_USER = #{userEmail}
    </delete>


    <!-- Like Count -->
    <select id="getLikeCount" parameterType="HashMap" resultType="java.lang.Integer">
        SELECT LIKE_COUNT
          FROM VUE_VIDEO
         WHERE VIDEO_ID = #{videoId} 
    </select>


    <!-- 중복 Like 찾기 -->
    <select id="getDupLike" parameterType="HashMap" resultType="java.util.LinkedHashMap">
        SELECT VIDEO_ID
          FROM VUE_VIDEO_LIKE
         WHERE INP_USER = #{userEmail}
    </select>


    <!-- 중복 Like 찾기2 -->
    <select id="getDupLike2" parameterType="HashMap" resultType="java.util.LinkedHashMap">
        SELECT VIDEO_ID
          FROM VUE_VIDEO_LIKE
         WHERE INP_USER = #{userEmail}
           AND VIDEO_ID = #{videoId}
    </select>



</mapper>