<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.community.mapper.CommunityMapper">

    <!-- 커뮤니티 insert -->
    <insert id="insertCommunity" parameterType="java.util.Map">
        INSERT INTO VUE_COMMUNITY(
                                    TITLE
                                  , CONT
                                  , TAG1
                                  , TAG2
                                  , TAG3
                                  , INP_DT
                                  , NICKNAME
                                  , EMAIL
                                  , LIKE_COUNT
                                  , ID
                                )
                        VALUES(
                                    #{title}
                                  , #{cont}
                                  , #{tag1}
                                  , #{tag2}
                                  , #{tag3}
                                  , #{inp_dt}
                                  , #{nickname}
                                  , 'as17269@web2gether.co.kr'
                                  , 0
                                  , #{id}
                              )
    </insert>

    <!-- 커뮤니티 update -->
    <update id="updateCommunity" parameterType="java.util.Map">
      UPDATE VUE_COMMUNITY
         SET TITLE         = #{title}
           , CONT          = #{cont}
           , TAG1          = #{tag1}
           , TAG2          = #{tag2}
           , TAG3          = #{tag3}
           , UPD_DT        = #{upd_dt}
       WHERE ID = #{id}
    </update>

    <!-- 커뮤니티 delete -->
    <update id="deleteCommunity" parameterType="java.util.Map">
      DELETE 
        FROM VUE_COMMUNITY
       WHERE ID = #{id}
    </update>
</mapper>