<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.video.mapper.VideoMapper">

    <!-- 영상 insert -->
    <insert id="insertVideo" parameterType="com.example.demo.video.dto.VideoDto">
        INSERT INTO VUE_VIDEO(
                              TITLE
                            , CONTENT
                            , PATH
                            , TYPE
                            , VIDEO_ID
                            , INP_DT
                            , LIKE_COUNT
                            , COMMENT_COUNT
                          )
                  VALUES(
                          #{title}
                        , #{content}
                        , #{path}
                        , #{type}
                        , #{video_id}
                        , #{inp_dt}
                        , 0
                        , 0
        )
    </insert>

    <select id="searchVideo" parameterType="HashMap" resultType="java.util.LinkedHashMap">
        SELECT TITLE
             , CONTENT
             , USER_NICKNAME
             , PATH
             , TYPE
             , INP_DT
             , LIKE_COUNT
             , COMMENT_COUNT
          FROM VUE_VIDEO
         WHERE TITLE = #{title} 
           AND TYPE = #{type}     
    </select>


</mapper>